main{
    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 60px;

        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;

            color: #ebebeb;
            text-decoration: none;
            
            img{
                height: 300px;
                width: 300px;
            }
            label{
                width: 250px;
                text-align: center;
            }
            #preco{
                color: #be2e2e;
                font-weight: bold;
            }
        }
    }
}

#adicionar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebebeb;
    border-radius: 8px;
    border: 5px solid #579ec2c7;
    background-color:#9edcf3ad;
    font-size: 15px;
    padding: 8px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    margin-left: -29px;
    margin-top: 10px;
}


@media (max-width: 950px){
    main > .cards > div{
        width: 200px;
        img{
            height: 150px;
            width: 150px;
        }
        label{
            font-size: 16px;
            width: 100px;
        }
    }
    .cards{
        margin-bottom: 40px;
    }
}
@media (max-width: 650px){
    div{
        padding: 5px 30px;
    }
}
@media (max-width: 630px){
    div{
        width: 150px;
        padding-inline: 15px;
        align-items:normal;
    }
}